body {
    background: #000000;
}

#navigation {
    font-size: 16px;
    font-family: "Montserrat", "Sans Serif";
    text-transform: lowercase;
    text-align: right;
    margin-right: 40px;
    line-height: 50%;
}



.container {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
.text {
    font-family: "cardo", "Georgia", "Serif";
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    padding-left: 20px;
    padding-top: 30px;
  }

.image1 {
    margin-left: 40px;
    height: 8%;
    width: 8%;
    padding: 30px;
}


.image2 {
    border: .5px solid #ffffff;
    margin-left: 40px;
    width: 20%;
    height: 20%;
    flex-basis: 20%;
}








a:link{text-decoration: none; color: #ffffff; margin: 30px;/*link that hasn't been visited*/}
a:visited{text-decoration: none; color: #8f8f93; margin: 30px;/*once page is visited*/}
a:active{text-decoration: underline; color: #ffffff; margin: 30px;/*link that is selected*/}
a:hover{text-decoration: underline; color: #8f8f93; margin: 30px;/*when mouse is over link*/}